.course-info{
    width: 1340px;
    display: flex;
}

.course-info-main{
    width: 895px;
}
.introduce{
    height: 360px;
    background-color: antiquewhite;
    text-align: left;
    box-sizing: border-box;
    padding: 35px;
    background-color: rgb(31, 45, 56);
    color: whitesmoke;
}
.introduce div:not(:last-child){
    margin-bottom: 20px;
}
.introduce .title{
    width: 70%;
    font-weight: bolder;
    font-size: 30px;
}
.introduce .summary{
    font-size: 20px;
}
.introduce .rating{
    font-weight: bold;
    color: orange;
    font-size: 16px;
}
.introduce .author{
    font-size: 16px;
}
.introduce .update-time{
    font-size: 16px;
}

.content{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.content .content-header{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
}
.content-container{
    width: 75%;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgb(190,190,190);
}
.content-container div:not(:first-child){
    border-top: 1px solid rgb(190,190,190);
}
._content-section{
    width: 100%;
}
._content-section-title{
    text-align: left;
    font-weight: 500;
    height: 40px;
    background-color: rgb(215,215,215);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
._content-section-title svg{
    width: 40px;
}
._content-section-title span{
    line-height: 40px;
}
._content-lectures-group{
    text-align: left;
}
._content-lectures-group div{
    margin: auto;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 5px;
}
._content-lectures-group div:not(:first-child){
    border-top: 1px solid rgb(215,215,215);
}

.description{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.description .description-header{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
}
.requirements{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.requirements .requirements-header{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
}

.instructor{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.instructor .instructor-header{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
}

.more-by-instructor{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.more-by-instructor .more-header{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
}

.course-info-bar{
    width: 445px;
    height: 750px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.course-info-card{
    width: 340px;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 5px 5px 8px gray;
}
.card-preview{
    height: 192px;
    background-color: grey;
}
.card-content{
    padding: 20px;
}
.card-content .price{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
}

.button-group{
    width: 300px;
}
.button-group .button-group-layer1{
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.button-group-layer1 .add-to-cart{
    flex-grow: 1;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-group-layer1 .add-to-cart button{
    border: none;
    background-color: blueviolet;
    color: white;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}
.button-group-layer1 .favourite{
    width: 50px;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-group-layer1 .favourite button{
    height: 100%;
}

.button-group .button-group-layer2{
    width: 300px;
    height: 60px;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-group .button-group-layer2 button{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}