
nav{
    height: 70px;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo{
    width: fit-content;
}

.search{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.search-group{
    width: 70%;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 25px;
}
.search-group .search-icon{
    opacity: 0.5;
    margin-right: 3px;
}
.search-group input{
    background-color: transparent;
    height: max-content;
    border: none ;
    outline: none;
}

.my-learning{
    padding: 0 10px 0 10px;
    font-size: 16px;
    cursor: pointer;
}
.my-learning:hover{
    color: rgb(55, 0, 255);
}

.cart{
    padding: 0 10px 0 10px;
    border-right: 1px solid grey;
    cursor: pointer;
}
.cart:hover{
    color: rgb(55, 0, 255);
}

.user{
    padding: 0 10px 0 10px;
    cursor: pointer;
}
.user-avatar{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.dropdown-user-menu{
    position: absolute;
    top: 75px;
    width: 250px;
    height: 500px;
    right: 10px;
    background-color: white;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.2);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}
.user:hover .dropdown-user-menu{
    display: inline-block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s, background, 2s .5s linear;
    transition: all .5s, background 2s .5s linear;
}

.search-responsive{
    display: none;
}
.menu{
    display: none;
    padding: 0 5px 0 5px;
}
.dropdown-menu{
    position: absolute;
    top: 75px;
    width: 250px;
    height: 500px;
    right: 10px;
    background-color: white;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.2);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}
.menu:hover .dropdown-menu{
    display: inline-block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s, background, 2s .5s linear;
    transition: all .5s, background 2s .5s linear;
}

@media (max-width: 800px){
    .logo{
        flex-grow: 1;
    }
    .search{
        display: none;
    }
    .my-learning{
        display: none;
    }
    .cart{
        display: none;
    }
    .user{
        display: none;
    }
    .search-responsive{
        display: flex;
    }
    .menu{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}