
nav{
    height: 70px;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo{
    width: fit-content;
}

.search{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.search-group{
    width: 70%;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 25px;
}
.search-group .search-icon{
    opacity: 0.5;
    margin-right: 3px;
}
.search-group input{
    background-color: transparent;
    height: max-content;
    border: none ;
    outline: none;
}

.my-learning{
    padding: 0 10px 0 10px;
    font-size: 16px;
    cursor: pointer;
}
.my-learning:hover{
    color: rgb(55, 0, 255);
}

.cart{
    padding: 0 10px 0 10px;
    border-right: 1px solid grey;
    cursor: pointer;
}
.cart:hover{
    color: rgb(55, 0, 255);
}

.user{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    cursor: pointer;
}
.user-avatar{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.nav-signin{
    width: 80px;
    padding: 0 10px;
    box-sizing: border-box;
    border-right: 1px solid rgb(200, 200, 200);
    cursor: pointer;
}
.nav-signin:hover{
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.nav-signup{
    width: 80px;
    box-sizing: border-box;
    padding-left: 10px;
    cursor: pointer;
}
.nav-signup:hover{
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.dropdown-menu{
    position: absolute;
    top: 65px;
    padding-top: 10px;
    width: 150px;
    right: 10px;
    box-shadow: 5px 8px 10px -5px rgba(0,0,0,0.2);
    z-index: 2;
    opacity: 0; 
    visibility: hidden;
}
.dropdown-menu ul:not(:first-child){
    border-top: 1px solid rgb(200, 200, 200);
}
.dropdown-menu ul{
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
}
.dropdown-menu li{
    padding: 5px 10px;
    text-align: start;
    font-size: 0.9rem;
}
.dropdown-menu li:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: rgb(55, 0, 255);
}
.user:hover .dropdown-menu{
    display: inline-block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s, background, 2s .5s linear;
    transition: all .5s, background 2s .5s linear;
}

.search-responsive{
    display: none;
    cursor: pointer;
}
.menu{
    display: none;
    height: 100%;
    padding: 0 5px 0 5px;
    cursor: pointer;
}

.learning-n-cart{
    display: none;
}

.menu:hover .dropdown-menu{
    display: inline-block;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .5s, background, 2s .5s linear;
    transition: all .5s, background 2s .5s linear;
}

@media (max-width: 800px){
    .logo{
        flex-grow: 1;
    }
    .search{
        display: none;
    }
    .my-learning{
        display: none;
    }
    .cart{
        display: none;
    }
    .user{
        display: none;
    }
    .search-responsive{
        display: flex;
    }
    .menu{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .learning-n-cart{
        display: block;
    }
    .nav-signin, .nav-signup{
        display: none;
    }
}