.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(255, 255, 254);
  position: relative;
  height: 70px;
  padding: 0 24px 0 24px;
  border-bottom: 1px solid grey;
}

.App-body{
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  width: 100vw;
}

.App-footer{
  background-color: rgb(26, 32, 61);
  height: 200px;
  width: 100vw;
}